<main>
    <div class="budgetPage">
        <h1>{{ title }}</h1>
        
        <!-- Description -->
        <p>
            Add Budget
        </p>

        <!-- Render Errors -->
        {{#if hasErrors}}
        <ul class="errorList">
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        {{/if}}

        <!-- Add Budget Form -->
        <form action="/budgets/processBudget" method="POST" class="addBudgetForm">
            <!-- Month Input -->
            <label for="monthInput">Month</label><br>
            <input type="text" name="monthInput" id="monthInput" placeholder="March" required><br>

            <!-- Year Input -->
            <label for="yearInput">Year</label><br>
            <input type="text" name="yearInput" id="yearInput" placeholder="2023" required><br>

            <!-- Budget Category Input -->
            <label for="budgetNameInput">Budget Category</label><br>
            <input type="text" name="budgetNameInput" id="budgetNameInput" placeholder="House" required><br>

            <!-- Budgeted Amount Input -->
            <label for="budgetedAmountInput">Budgeted Amount</label><br>
            <input type="number" name="budgetedAmountInput" id="budgetedAmountInput" placeholder="1000" required><br>

            <!-- Submit -->
            <input type="submit" id="addBudgetSubmit">
        </form>
    </div>
</main>
