<main>
    <!-- Navbar -->
    <div class="navbar">
        <a href="/dashboard" class="navbarElement">Dashboard</a>
        <a href="/profile" class="navbarElement">Profile</a>
        <a href="/paychecks" class="navbarElement">Paychecks</a>
        <a href="/transactions" class="navbarElement">Transactions</a>
        <a href="/budgets" class="navbarElement">Budgets</a>
        <a href="/logout" class="navbarElement">Logout</a>
    </div>
    
    <!-- Title -->
    <h1>Change Password</h1>

    <!-- Tell User if Required -->
    {{#if resetRequired}}
     <p id="resetRequiredMessage">You are in password-reset mode and are required to change your password.</p>
    {{/if}}

    <!-- Render Server Erorrs -->
    {{#if hasErrors}}
    <p class="serverErrorMessage">{{errorMessage}}</p>
    {{/if}}

    <!-- Render Client Errors -->
    <div id="clientErrors" hidden>
        <ul class="clientErrorList"></ul>
    </div>

    <!-- User Information -->
    <p>Please enter your new password below. The password requirements are:</p>
    <ul>
        <li>At least 8 characters long</li>
        <li>At least 1 lowercase character</li>
        <li>At least 1 uppercase character</li>
        <li>At least 1 number</li>
        <li>At least 1 symbol</li>
    </ul>

    <!-- Change Form -->
    <form action="/recovery/changePassword" method="POST" id="changePasswordForm">
        <!-- Current Password Input -->
        <label for="currentPasswordInput">Current Password</label>
        <input type="password" name="currentPasswordInput" id="currentPasswordInput"><br>

        <!-- New Password Inputs -->
        <label for="firstPasswordInput">New Password</label>
        <input type="password" name="firstPasswordInput" id="firstPasswordInput"><br>

        <label for="secondPasswordInput">Confirm Password</label>
        <input type="password" name="secondPasswordInput" id="secondPasswordInput"><br>

        <!-- Submit -->
        <input type="submit" id="changePasswordFormSubmit">
    </form>

    {{#unless resetRequired}}
    <a href="/dashboard" class="backButton">Back</a>
    {{/unless}}
</main>