<main>
    <!-- Navbar -->
    <div class="navbar">
        <a href="/dashboard" class="navbarElement" id="currentNavbarLink">Dashboard</a>
        <a href="/profile" class="navbarElement">Profile</a>
        <a href="/paychecks" class="navbarElement">Paychecks</a>
        <a href="/transactions" class="navbarElement">Transactions</a>
        <a href="/budgets" class="navbarElement">Budgets</a>
        <a href="/logout" class="navbarElement">Logout</a>
    </div>
    
    {{ title }}

</main>