
<main>
    <div class="404errorPage">
        <h1>Error 404: Page Not Found</h1>
        <p>
            Page not found
        </p>
        <a href="/" class="returnHomeButton">Return Home</a>
    </div>
</main>
