<main>
  <div class="forgot-password-page">
    <h1>{{ title }}</h1>
    <p>Please enter your email address and we will send you a temporary password to reset your account. </p>
    
    {{#if error}}
    <div class="error-message">
      {{error}}
    </div>
    {{/if}}

    <form action="/recovery/reset-password" method="POST" class="forgot-password-form">
      <!-- Email Input -->
      <label for="email">Email</label><br>
      <input type="email" name="email" id="email" placeholder="john.doe@gmail.com" required><br>

      <input type="submit" value="Reset Password">
    </form>
  </div>
</main>
