<main>
    <div class="loginPage">
        <h1>{{ title }}</h1>
        
        <!-- Description -->
        <p>
            Welcome! Please log in below to start taking control of your financial life!
        </p>

        <!-- Render Errors -->
        {{#if hasErrors}}
        <ul class="errorList">
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        {{/if}}

        <!-- Login Form -->
        <form action="/processLogin" method="POST" class="loginForm">
            <!-- Email Input -->
            <label for="emailInput">Email</label><br>
            <input type="email" name="emailInput" id="emailInput" placeholder="john.doe@gmail.com" autofocus required><br>

            <!-- Password Input -->
            <label for="passwordInput">Password</label><br>
            <input type="password" name="passwordInput" id="passwordInput" required><br>

            <!-- Submit -->
            <input type="submit" id="loginSubmit">
        </form>
        <!-- Register New User --> 
        <a class="register-login-swap-button" href="http://localhost:3000/register">New User? Create An Account!</a>
    </div>
</main>